.toolbar-container {
  position: relative;
  height: 126px;
  left: 0;
  right: 0;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.title-container.toolbar {
  padding-right: 300px;
}

#toolbar-btns {
  position: absolute;
  right: 2px;
  top: 17px;
  width: 320px;
  height: 36px;
}

#toolbar-btns > div {
  position: absolute;
  height: 36px;
  top: 0;
}

#tb-btn-new {
  width: 126px;
  right: 230px;

}

#tb-btn-save {
  width: 100px;
  right: 120px;
}

#tb-btn-cancel {
  width: 100px;
  right: 10px;
}

.subheader {
  position: absolute;
  left: 1.31%;
  right: 1.31%;
  top: 44.44%;
  bottom: 6.67%;
}

.density-container.btn-group {
  position: absolute;
  width: 110px;
  height: 36px !important;
  left: 377px;
  top: calc(50% - 36px/2 - 4px);
  box-shadow: none !important;
  background: #FFFFFF;
  border: 1px solid #CCD3DB;
  border-radius: 3px;
}

.density-container:hover {
  cursor: pointer;
}

.density-container img {
  position: absolute;
  width: 12px;
  height: 11px;
  left: 12px;
  top: 12px;
}

.btn
{
  background: transparent;
  box-shadow: none !important;
  border-right: 1px solid #CCD3DB !important;
}

.btn:hover,
.btn:active,
.btn:focus
{
  background: transparent;
  box-shadow: none !important;
  border-right: 1px solid #CCD3DB;
}

.last.btn {
  border: none !important;
}

.last.btn img {
  top: 13px;
}
