<div class="toolbar-container">
  <div class="title-container toolbar">
    <div class="table-name-displayed">
      {{tableName}}
    </div>
  </div>

  <div id="toolbar-btns" [hidden]="!dataLoaded">
    <div id="tb-btn-new"
         (click)="isNewRowAllowed ? addNewRow.emit() : ''">
      <div class="blue-button">
        <div class="border-button-text">Новая запись</div>
      </div>
    </div>
    <div id="tb-btn-save"
         (click)="saveData.emit()">
      <div class="blue-button">
        <div class="border-button-text">Сохранить</div>
      </div>
    </div>
    <div id="tb-btn-cancel"
         (click)="resetData.emit()">
      <div class="blue-button">
        <div class="border-button-text">Отменить</div>
      </div>
    </div>
  </div>

  <div class="subheader" [hidden]="!dataLoaded">

    <app-search
      *ngIf="settings"
      [idField]="settings['idField']"
      [fieldList]="settings['fieldList']"
      [fieldSettings]="settings['fieldSettings']"
      [dictionaryData]="settings['dictionaryData']"
      [dictionaryIdField]="settings['dictionaryIdField']"
      [dictionaryValueField]="settings['dictionaryValueField']"
      [dictionaryFieldSettings]="settings['dictionaryFieldSettings']">
    </app-search>

    <div class="btn-group density-container" role="group">
      <button type="button" class='btn' title="Низкая плотность отображения"
              (click)="tableDensityChanged.emit('low'); densityModel='low'">
        <img [hidden]="densityModel !== 'low'" src="assets/ic-low-blue.png">
        <img [hidden]="densityModel === 'low'" src="assets/ic-low.png">
      </button>
      <button type="button" class='btn' title="Средняя плотность отображения"
              (click)="tableDensityChanged.emit('middle'); densityModel='middle'">
        <img [hidden]="densityModel !== 'middle'" src="assets/ic-middle-blue.png">
        <img [hidden]="densityModel === 'middle'" src="assets/ic-middle.png">
      </button>
      <button type="button" class='btn last' title="Высокая плотность отображения"
              (click)="tableDensityChanged.emit('high'); densityModel='high'">
        <img [hidden]="densityModel !== 'high'" src="assets/ic-high-blue.png">
        <img [hidden]="densityModel === 'high'" src="assets/ic-high.png">
      </button>
    </div>

  </div>

  <mat-paginator [hidden]="!dataLoaded" [pageSizeOptions]="[5, 10, 50, 100, 500, 1000, 5000]"
                 [length]="100"
                 showFirstLastButtons></mat-paginator>
</div>
