/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
  font-family: Roboto-Regular;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

html {
  min-width: 1250px !important;
  overflow-x: auto;
  height:100vh;
  overflow-y: hidden;
}

* {
  font-family: Roboto-Regular;
}

button:focus {
  outline: 0 !important;
}

.login-fields {
  width: 100%;
  .mat-form-field-wrapper {
    height: 80px;
    padding-bottom: 24px;
  }

  .mat-form-field-flex {
    height: 56px !important;
    @extend .text-field-bg;
  }

  .mat-form-field.mat-focused:not(.mat-form-field-invalid) {
    ::ng-deep .mat-form-field-label {
      width: 416px !important;
    }
  }

  .mat-input-element {
    width: 416px !important;
  }
}

.mat-form-field-underline {
  visibility: hidden;
}

.mat-form-field-appearance-fill .mat-form-field-ripple {
  visibility: visible !important;
  background: transparent;
}

.mat-form-field.mat-focused:not(.mat-form-field-invalid) {
  .mat-form-field-wrapper .mat-form-field-underline .mat-form-field-ripple {
    background: #00BCD4;
  }
  .mat-form-field-label {
    color: #00BCD4;
  }
  .mat-input-element {
    caret-color: #00BCD4;
  }
}

.mat-form-field-infix {
  background: transparent;
  height: 56px;
  padding: 0;
}

mat-error {
  padding-right: 20px;
  height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #DB4437;
}

.mat-error-wrapper {
  width:  calc(100% + 12px);
  margin-top: 35px;
  padding-left: 0;
  position: absolute;
}

.mat-error-img {
  position: absolute;
  width: 17px;
  height: 15px;
  right: 1.5px;
  bottom: 2px;
}

mat-dialog-container {
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-actions {
  min-height: 60px;
  height: 60px;
}

.custom-select-class {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    padding: 0;
    border: 0;
    background: transparent;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  mat-select {
    max-width: none !important;
  }
}

mat-form-field.custom-select-class {
  width: 100% !important;
}

.custom-select-panel-class.mat-select-panel {
  position: relative;
  top: 25px;
}

mat-spinner {
  circle {
    stroke: #88b4e7 !important;
  }
}

.scrollable-content {
  max-width: unset !important;
}

.material-icons-new {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
}

.text-field-bg {
  background: rgba(51, 51, 51, 0.06);
  border-radius: 4px 4px 0px 0px;
}

.mat-input-element {
  position: absolute;
  bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.87);
}

.mat-form-field.mat-focused:not(.mat-form-field-invalid) {
  ::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, 0.54);
  }
}

.mat-form-field {
  ::ng-deep .mat-form-field-label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border-button {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  box-sizing: border-box;
  border-radius: 2px;
}

.border-button-text {
  position: relative;
  height: 17px;
  top: calc(50% - 17px / 2 + 0.5px);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  @extend .no-select;
  cursor: default;
}

.border-button-text:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.border-button-text:active {
  color: rgba(255, 255, 255, 0.54);
}

.white-button {
  @extend .border-button;
  border: 1px solid #57A3FF;
  color: #57A3FF;
}

.white-button:hover {
  cursor: pointer;
  background: #A4CDFF;
  color: #FFFFFF;
  border: 1px solid #A4CDFF;
}

.white-button:active {
  background: #4297FF;
  color: rgba(255, 255, 255, 0.54);
  border: 1px solid #4297FF;
}

.blue-button {
  @extend .border-button;
  background: #57A3FF;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.blue-button:hover {
  cursor: pointer;
  border: 1px solid #A4CDFF;
  background: #A4CDFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.blue-button:active {
  background: #4297FF;
  color: rgba(255, 255, 255, 0.54);
  border: 1px solid #4297FF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.border-button-text-black {
  @extend .border-button-text;
  color: rgba(0, 0, 0, 0.75);
}

.black-button {
  @extend .border-button;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.75);
}

.black-button:hover, .black-button:hover > div {
  cursor: pointer;
  background: #E9E9E9;
  color: rgba(0, 0, 0, 0.87);
}

.black-button:active, .black-button:active > div {
  background: #E5E5E5 !important;
  color: #929292 !important;
}

.txt-btn-blocked {
  @extend .border-button;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

.txt-btn-blocked-text {
  position: relative;
  height: 17px;
  top: calc(50% - 17px / 2 + 0.5px);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: not-allowed;
  @extend .no-select;
}

.title-container {
  padding-left: 0;
  padding-top: 0;
  display: table;
  height: 64px !important;
  width: 100%;
  position: relative;
}

.table-name-displayed {
  position: absolute;
  height: 64px;
  left: 32px;
  right: 0;
  top: calc(50% - 64px/2);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
}

mat-paginator {
  margin-right: -5px;
  height: 50px;
  display: flex;
  float: right;
}

div.mat-paginator-page-size.ng-star-inserted {
  height: 55px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.mat-paginator-page-size.ng-star-inserted {
    height: 65px;
  }
}
