<div class="settings-content-container">
  <div class="title-container">
    <div class="table-name-displayed">
      {{tableNameDisplayed}}
    </div>
  </div>
  <div class="table-settings">
    <div class="input-group">
      <label class="form-check-label" for="table-name-input">Название таблицы</label>
      <input type="text" class="form-control" placeholder="Название таблицы" id="table-name-input" autocomplete="off"
             [(ngModel)]="tableConfig.tableName">
    </div>
    <div class="input-group">
      <label class="form-check-label" for="db-schema-input">Схема базы данных</label>
      <input type="text" class="form-control" placeholder="Схема базы данных" id="db-schema-input" autocomplete="off"
             [(ngModel)]="tableConfig.dbSchema">
    </div>
    <div class="input-group">
      <label class="form-check-label" for="display-name-input">Отображаемое название</label>
      <input type="text" class="form-control" placeholder="Отображаемое название" id="display-name-input"
             autocomplete="off"
             [(ngModel)]="tableConfig.displayName">
    </div>
    <div class="input-group">
      <label class="form-check-label" for="dict-group-select">Тематическая область</label>
      <select class="form-control" id="dict-group-select" [(ngModel)]="tableConfig.dictGroupId">
        <option [ngValue]="0">Без категории</option>
        <option *ngFor="let dictGroup of dictGroups" [ngValue]="dictGroup.id">{{dictGroup.name}}</option>
      </select>
    </div>
    <div class="input-group">
      <label class="form-check-label" for="id-field-input">ID поле</label>
      <input type="text" class="form-control" placeholder="ID Поле" id="id-field-input" autocomplete="off"
             [(ngModel)]="tableConfig.idField">
    </div>

    <div class="input-group">
      <label class="form-check-label" for="allow-new-row-checkbox">Разрешить новые записи</label>
      <br>
      <input type="checkbox" class="form-check-input" id="allow-new-row-checkbox"
             [(ngModel)]="tableConfig.isNewRowAllowed">
    </div>
  </div>

  <mat-expansion-panel [disabled]="!tableConfig.filterRules || !tableConfig.filterRules.length" #filterPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Фильтры
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let filter of tableConfig.filterRules; let i = index" class="filter-div">
      <div class="filter-content-div">
        <mat-form-field class="custom-select-class">
          <label class="form-check-label" for="filter-field-input">Поле</label>
          <mat-select class="form-control"
                      id="filter-field-input"
                      panelClass="custom-select-panel-class"
                      #select
                      [(ngModel)]="filter.field"
                      [disableOptionCentering]="true"
                      [disableRipple]="true">
            <mat-option *ngFor="let field of tableConfig.fields"
                        [value]="field.name">
              {{field.displayName || field.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-content-div">
        <mat-form-field class="custom-select-class">
          <label class="form-check-label" for="filter-operator-input">Оператор</label>
          <mat-select class="form-control"
                      id="filter-operator-input"
                      panelClass="custom-select-panel-class"
                      #select
                      [(ngModel)]="filter.operator"
                      [disableOptionCentering]="true"
                      [disableRipple]="true">
            <mat-option *ngFor="let operator of ['>', '<', '>=', '<=', '=']"
                        [value]="operator">
              {{operator}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-content-div">
        <label class="form-check-label" for="filter-value-input">Значение</label>
        <input type="text" class="form-control" placeholder="Значение" id="filter-value-input" style="margin-top: -2px"
               autocomplete="off"
               [(ngModel)]="filter.value">
      </div>

      <mat-icon class="delete-filter-icon" (click)="deleteFilter(i)">
        delete_outline
      </mat-icon>

    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [disabled]="!tableName">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Данные
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-settings-table-data
      [tableName]="tableName"
      [tableConfig]="tableConfig"
      [isNewTable]="isNewTable">
    </app-settings-table-data>
  </mat-expansion-panel>

</div>
