.table-settings {
  display: table;
  padding: 10px 20px 20px;
  width: 100%;
  position: relative;

  div.input-group {
    padding-right: 10px;
    display: table-cell;
    width: 19%;
  }

  .form-control {
    width: 100%;
  }

  input {
    border-radius: 0.25rem !important;
  }

  input[type=checkbox] {
    margin-left: 5px;
    margin-top: 12px;
    width: 14px;
    height: 14px;
  }
}

.settings-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.filter-div {
  position: relative;
  display: table;
  margin-bottom: 15px;

  .filter-content-div {
    display: table-cell;
    width: 30%;
    padding-right: 10px;
  }

  label {
    padding: 2px;
  }
}

mat-icon {
  margin-left: 10px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.5);
}

mat-icon:hover {
  color: rgba(0, 0, 0, 1);
}

.blocked {
  color: rgba(0, 0, 0, 0.5) !important;
}

.delete-filter-icon {
  position: absolute;
  top: 50%;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  margin: 10px;
}
