.attribute-div {
  display: table;
  width: 100%;
  height: 44px;
  padding: 3px;

  label {
    display: table-cell;
    width: 50%;
    line-height: 44px;
  }

  input, mat-form-field {
    width: 100%;
  }

  input[type=checkbox] {
    width: 16px;
    height: 44px;
    position: absolute;
    left: calc(50% + 24px);
  }
}
