<h2 mat-dialog-title>Свойства поля</h2>
<mat-dialog-content>
  <div class="attribute-div">
    <label class="form-check-label" for="field-name">Название поля</label>
    <input type="text" class="form-control" placeholder="Название поля" id="field-name"
           [(ngModel)]="fieldConfig.name">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-display-name">Отображаемое название</label>
    <input type="text" class="form-control" placeholder="Отображаемое название" id="field-display-name"
           [(ngModel)]="fieldConfig.displayName">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-type">Тип данных</label>
    <mat-form-field class="custom-select-class">
      <mat-select class="form-control"
                  id="field-type"
                  panelClass="custom-select-panel-class"
                  [(ngModel)]="fieldConfig.type"
                  [disableOptionCentering]="true"
                  [disableRipple]="true">
        <mat-option *ngFor="let type of dataTypes"
                    [value]="type.value">
          {{type.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-is-dictionary-value">Справочное поле</label>
    <input type="checkbox" class="form-check-input" id="field-is-dictionary-value"
           [(ngModel)]="fieldConfig.isDictionaryValue">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-dictionary-schema">Схема справочника в базе</label>
    <input type="text" class="form-control" id="field-dictionary-schema"
           disabled="{{!fieldConfig.isDictionaryValue}}"
           [(ngModel)]="fieldConfig.dictionaryDBSchema">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-dictionary-name">Название справочника</label>
    <input type="text" class="form-control" id="field-dictionary-name"
           disabled="{{!fieldConfig.isDictionaryValue}}"
           [(ngModel)]="fieldConfig.dictionaryName">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-required">Обязательное поле</label>
    <input type="checkbox" class="form-check-input" id="field-required"
           [(ngModel)]="fieldConfig.required">
  </div>
  <div class="attribute-div">
    <label class="form-check-label" for="field-is-editable">Редактируемое поле</label>
    <input type="checkbox" class="form-check-input" id="field-is-editable"
           [(ngModel)]="fieldConfig.isEditable">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onCancelClick()">Отменить</button>
  <button class="mat-raised-button" (click)="onApplyClick()">Применить</button>
</mat-dialog-actions>
