#top-panel {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 48px;
  width: 100%;
  min-width: 1250px! important;
}

#excel-btn {
  position: absolute;
  width: 150px;
  height: 36px;
  left: calc(50% - 150px / 2);
  top: calc(50% - 36px / 2);
}

.toolbar-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 24px/2);
}

.toolbar-icon:hover {
  cursor: pointer;
}

#config-img{
  right: 16px;
}

#person-img{
  right: 64px;
}

#notify-img{
  right: 112px;
}

#back-group {
  position: absolute;
  width: 225px;
  height: 48px;
  left: 20px;
  top: 0px;
}

#back-group:hover {
  cursor: pointer;
}

#ic-back {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 20px;
  top: calc(50% - 18px / 2);
}

#ic-back-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#view-data {
  position: absolute;
  width: 195px;
  height: 48px;
  left: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #F2F2F2;
}

#settings-btn-grp {
  position: relative;
  width: 646px;
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
}

#settings-btn-grp > div {
  position: absolute;
  height: 36px;
  top: 6px;
}

#add-field-btn {
  width: 136px;
  left: 10px;
}

#add-filter-btn {
  width: 151px;
  left: 156px;
}

#config-test-btn {
  width: 100px;
  left: 317px;
}

#cancel-btn {
  width: 100px;
  left: 427px;
}

#save-btn {
  width: 100px;
  left: 537px;
}
