<div id="top-panel">

  <div id="back-group" *ngIf="isSettingsMode" (click)="settingsMode.emit(false); isSettingsMode = false">
    <div id="ic-back">
      <img src="assets/ic-back.png" id="ic-back-img">
    </div>
    <div id="view-data" class="no-select">
      Просмотр данных
    </div>
  </div>

  <div id="settings-btn-grp">
    <div id="add-field-btn" *ngIf="isSettingsMode"
         (click)="blocked ? '' : addColumn.emit()">
      <div [ngClass]="{'txt-btn-blocked': blocked, 'black-button': !blocked}">
        <div [ngClass]="{'txt-btn-blocked-text': blocked, 'border-button-text-black': !blocked}">Добавить поле</div>
      </div>
    </div>
    <div id="add-filter-btn" *ngIf="isSettingsMode"
         (click)="blocked ? '' : addFilter.emit()">
      <div [ngClass]="{'txt-btn-blocked': blocked, 'black-button': !blocked}">
        <div [ngClass]="{'txt-btn-blocked-text': blocked, 'border-button-text-black': !blocked}">Добавить фильтр</div>
      </div>
    </div>
    <div id="config-test-btn" *ngIf="isSettingsMode"
         (click)="blocked ? '' : refreshData.emit()">
      <div [ngClass]="{'txt-btn-blocked': blocked, 'black-button': !blocked}">
        <div [ngClass]="{'txt-btn-blocked-text': blocked, 'border-button-text-black': !blocked}">Проверить</div>
      </div>
    </div>
    <div id="cancel-btn" *ngIf="isSettingsMode"
         (click)="blocked ? '' : resetData.emit()">
      <div [ngClass]="{'txt-btn-blocked': blocked, 'black-button': !blocked}">
        <div [ngClass]="{'txt-btn-blocked-text': blocked, 'border-button-text-black': !blocked}">Отменить</div>
      </div>
    </div>
    <div id="save-btn" *ngIf="isSettingsMode"
         (click)="blocked ? '' : saveData.emit()">
      <div [ngClass]="{'txt-btn-blocked': blocked, 'black-button': !blocked}">
        <div [ngClass]="{'txt-btn-blocked-text': blocked, 'border-button-text-black': !blocked}">Сохранить</div>
      </div>
    </div>
  </div>


  <div id="excel-btn" *ngIf="!isSettingsMode"
       (click)="exportExcel.emit()">
    <div class="black-button">
      <div class="border-button-text-black">Экспорт в Excel</div>
    </div>
  </div>
  <div *ngIf="!isSettingsMode" id="notify-img" class="toolbar-icon">
    <img src="assets/ic-notify.png">
  </div>
  <div *ngIf="!isSettingsMode" id="person-img" class="toolbar-icon" [matMenuTriggerFor]="userMenu">
    <img src="assets/ic-person.png">
  </div>
  <div *ngIf="!isSettingsMode" id="config-img" class="toolbar-icon"
       (click)="settingsMode.emit(true); isSettingsMode = true">
    <img src="assets/ic-config.png">
  </div>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item type="button" (click)="onLogoutClick()">
      <span>Выйти</span>
    </button>
  </mat-menu>

</div>
