.sidenav-container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1250px !important;
}

button {
  width: 100%;
  background: rgba(0, 0, 0, .05);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background: white;
  overflow-x: hidden;
}

mat-sidenav {
  overflow-y: unset;
  visibility: visible !important;
  overflow-x: hidden;
}

app-table-data {
  display: flex;
  flex-grow: 1;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 10px !important;
}

app-table-data {
  max-height: calc(100% - 70px);
}

.expand-icon {
  position: absolute;
  top: calc(50% - 22px);
  right: 0;
  font-size: 44px;
  height: 44px;
  width: 36px;
  cursor: pointer;
}

.mat-sidenav-hidden {
  left: 0px;
}

.mat-sidenav-hidden-content {
  padding-left: 0 !important;
}

.hidden {
  display: none !important;
}

app-settings-content {
  height: 100%;
  display: flex;
}

.catalog-list {
  width: 220px;
  background-color: #F6F6F6;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  max-height: 100%;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.table-list-item {
  background-color: inherit;
  position: relative;
  width: 209px;
  height: 32px;
  color: rgba(0, 0, 0, 0.54);
}

.table-list-item:hover {
  cursor: pointer;
}

.table-list-item-clicked {
  background-color: #57A3FF;
  color: #FFFFFF;
  position: relative;
  width: 220px;
  height: 32px;
  cursor: default;
}

.table-list-item-text {
  position: absolute;
  height: 32px;
  left: 20px;
  top: calc(50% - 32px/2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.dict-group-item-text {
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
}
.ic-arrow-item {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: calc(50% - 22px / 2);
}
.ic-arrow-down {
  transform: rotate(180deg);
}

.ic-arrow-up {
  position: relative;
}

.ic-arrow-img {
  text-align: center;
}

.add-button-border {
  position: relative;
  width: 80%;
  height: 36px;
  left: 10%;
  top: 8px;
  margin-bottom: 16px;
}


