<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [class.mat-sidenav-hidden]="!opened">
    <div class="catalog-list">
      <div class="add-button-border" *ngIf="settingsMode"
                     (click)="onNewTableClick(); clicked = undefined">
        <div class="white-button"><div class="border-button-text">Новая таблица</div></div>
      </div>
      <div *ngFor="let dictGroup of dictGroupsTableList">
        <div class="table-list-item" (click)="dictGroup.isHidden=!dictGroup.isHidden">
          <div class="ic-arrow-item">
            <div class="ic-arrow-img">
              <img src="assets/ic-arrow-up.png"
                   [ngClass]="{'ic-arrow-up': dictGroup.isHidden,'ic-arrow-down': !dictGroup.isHidden}">
            </div>
          </div>
          <div class="table-list-item-text dict-group-item-text">{{ dictGroup.name }}</div>
        </div>
        <div [hidden]="dictGroup.isHidden">
          <div *ngFor="let tableName of dictGroup.tableNameList" (click)="onTableClick(tableName); clicked = tableName"
               [ngClass]="{'table-list-item-clicked no-select': clicked === tableName, 'table-list-item': clicked !== tableName}">
            <div class="table-list-item-text">{{tableNamesMap[tableName] || tableName}}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [class.hidden]="settingsMode"
                       [class.mat-sidenav-hidden-content]="!opened">
    <app-toolbar
      (searchInited)="editTable.onSearchInited($event)"
      (paginatorInited)="editTable.onPaginatorInited($event)"
      (tableDensityChanged)="editTable.onTableDensityChanged($event)"
      (addNewRow)="editTable.onNewRowClick()"
      (saveData)="editTable.onSaveClick()"
      (resetData)="editTable.onCancelClick()">
    </app-toolbar>
    <app-table-data
      (allowNewRow)="toolbar.isNewRowAllowed = $event"
      (dataLoaded)="toolbar.dataLoaded = true"
      (settingsLoadedOutput)="toolbar.onInitSettings($event)">
    </app-table-data>
  </mat-sidenav-content>

  <mat-sidenav-content *ngIf="settingsMode"
                       [class.mat-sidenav-hidden-content]="!opened">
    <app-settings-content
      (configSaved)="onConfigSaved($event); clicked = $event;"
      [tableName]="selectedTableName">
    </app-settings-content>
  </mat-sidenav-content>
</mat-sidenav-container>
