.th-div {
  display: table;
  margin: 0 auto;
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}

th {
  position: relative !important;
  top: 0;
  background-color: #ffffff;
  min-width: 50px;
  z-index: 1;
  background-clip: padding-box;
  border-bottom: none !important;
  cursor: grab;
}

.th-div {
  mat-icon {
    position: absolute;
    top: calc(50% - 9px);
    font-size: 18px;
    cursor: pointer;
  }
}

.table-cell-div {
  min-height: 50px;
  height: 50px;
  min-width: 50px;
  background-clip: padding-box;
}

span {
  margin: 0 auto;
}

.data-div {
  font-size: 0.9rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}

.data-div-number {
  @extend .data-div;
  text-align: right;
  padding-right: 5px;
}

.data-div-other {
  @extend .data-div;
  text-align: left;
  padding-left: 5px;
}

.align-num {
  text-align: right;
}

.column-resizer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 15px;
  height: 100%;
  padding: 0;
  cursor: col-resize;
  border: 1px solid transparent;
  border-right: 1px solid #dee2e6;
}

input, select {
  margin: 0 auto;
  min-width: 100%;
  font-size: 0.9rem;
}

.mat-row {
  max-height: 100px;
}

th.mat-header-cell {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

table {
  table-layout: fixed;
  border-top: none !important;
  margin-bottom: 0 !important;
}

.dictionary-value-select {
  min-width: 200px;
}

.select-full-width {
  width: 100%;
  min-width: 200px;
}

:host /deep/ .blue-text .mat-select-value {
  color: blue !important;
}

.table-container {
  overflow: auto;
  overflow-y: hidden !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 100%;
}

.dialog-content-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header-border-div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #dee2e6;
}

.header-border-div-vertical {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: #dee2e6;
  margin-top: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.table-density-low {

  input, select, .data-div {
    font-size: 0.85rem !important;
  }

  .data-div {
    margin-top: 9px !important;
    height: 20px !important;
  }

  .form-control {
    height: 27px !important;
    padding: 0.15rem 0.3rem !important;
    font-size: 0.9rem !important;
    margin-top: 6px;
  }

  .table-cell-div {
    min-height: 42px !important;
    height: 42px !important;
  }

  .table-row-div {
    height: 42px !important;
  }
}

.table-density-middle {

  input, select, .data-div {
    font-size: .75rem !important;
  }

  .data-div {
    margin-top: 6px !important;
    height: 16px !important;
  }

  .form-control {
    height: 25px !important;
    padding: 0.15rem 0.3rem !important;
    font-size: .8rem !important;
    margin-top: 2px;
  }

  .table-cell-div {
    min-height: 32px !important;
    height: 32px !important;
  }

  .table-row-div {
    height: 32px !important;
  }
}

.table-density-high {

  input, select, .data-div {
    font-size: .7rem !important;
  }

  .data-div {
    margin-top: 6px !important;
    height: 14px !important;
  }

  .form-control {
    height: 21px !important;
    padding: 0.1rem 0.2rem !important;
    font-size: .7rem !important;
    margin-top: 4px;
  }

  .table-cell-div {
    min-height: 30px !important;
    height: 30px !important;
  }

  .table-row-div {
    height: 30px !important;
  }
}

virtual-scroller {
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden !important;
  height: 330px;
  max-height: calc(100% - 64px);
}

.table-cell-div {
  display: table-cell;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 0 10px;
}

.table-row-div {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.background-gray {
  background: rgba(0, 0, 0, 0.07);
}

mat-form-field {
  width: 100% !important;
}

.select-readonly {
  background-color: #e9ecef !important;

  ::ng-deep .mat-select-value {
    color: #495057 !important
  }
}

mat-icon {
  position: absolute;
  top: calc(50% - 15px);
  font-size: 17px;
  width: 17px;
  height: 17px;
  color: rgba(0, 0, 0, 0);
  cursor: pointer !important;
}

mat-icon:hover {
  color: rgba(0, 0, 0, 1) !important;
}

th:hover {
  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}

.delete-icon {
  right: 5px;
}

.edit-icon {
  right: 22px;
}
