<div class="table-container table-density-middle" *ngIf="tableConfig && tableConfig.fields">
  <table class="table table-bordered table-responsive-md text-center resizable-data-table settings-table" mat-table
         [dataSource]="[]" [ngStyle]="getTableWidth()">
    <ng-container *ngFor="let field of fieldsToDisplay" matColumnDef="{{field}}">
      <th mat-header-cell *matHeaderCellDef
          (mousedown)="onHeaderMouseDown($event, field)"
          [ngStyle]="field === draggedColumn
          ? {position: 'relative', left: dragOffset + 'px', 'z-index': '1000', width: getColumnWidth(field) + 'px'}
          : {width: getColumnWidth(field) + 'px'}">
        <div class="header-border-div top" style="height: 2px !important"></div>
        <div class="header-border-div-vertical left"></div>
        <span class="column-resizer" (mousedown)="onColumnResizeMouseDown($event, field)"></span>
        <div class="th-div">
          <span style="font-size: 14px; color: #2e2e2e; padding-right: 14px; position:relative;">
            <b>{{fieldNamesMap[field] || field}}</b>
          </span>
        </div>
        <mat-icon class="edit-icon" (click)="onEditColumnClick(field, $event)">edit_outline</mat-icon>
        <mat-icon class="delete-icon" (click)="onDeleteColumnClick(field, $event)">delete_outline</mat-icon>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="fieldsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: fieldsToDisplay">
    </tr>
  </table>

  <virtual-scroller [ngStyle]="getTableWidth()" #scroll [items]="tableDataToDisplay"
                    [executeRefreshOutsideAngularZone]="true"
                    (vsUpdate)="changeDetectorRef.detectChanges();">
    <div *ngFor="let row of scroll.viewPortItems"
         class="table-row-div">
      <div *ngFor="let field of fieldsToDisplay" class="table-cell-div table-cell-div-{{field}} settings-cell"
           [ngStyle]="{'min-width': getColumnWidth(field) + 'px', 'max-width': getColumnWidth(field) + 'px'}">
        <div *ngIf="!fieldSettings[field].isDictionaryValue">
          <div [ngClass]="{'data-div-number': isNumField(field), 'data-div-other': !isNumField(field)}">
            {{getDisplayString(row, field)}}
          </div>
        </div>
        <div *ngIf="fieldSettings[field].isDictionaryValue">
          <div [ngClass]="{'data-div-number': getDictFieldType(field) === 'number',
                 'data-div-other': getDictFieldType(field) !== 'number'}">
            {{dictionaryDataById[fieldSettings[field].dictionaryName][row[field]] === undefined ? ''
            : getDictionaryDisplayString(field, dictionaryDataById[fieldSettings[field].dictionaryName][row[field]]
            [dictionaryValueField[fieldSettings[field].dictionaryName]])}}
          </div>
        </div>
      </div>
    </div>
  </virtual-scroller>
</div>
