<h2 mat-dialog-title>Новая запись</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSaveClick()">
  <mat-dialog-content class="input-group">
    <div *ngFor="let field of fieldsToCreate" class="form-group">
      <label>{{fieldSettings[field].displayName}}</label>
      <div *ngIf="!fieldSettings[field].isDictionaryValue" class="input-div">
        <input *ngIf="fieldSettings[field].type !== 'date'"
               type="{{fieldSettings[field].type}}"
               class="form-control"
               (change)="loadDictionaryOptions()"
               formControlName="{{field}}"
               [ngClass]="{ 'is-invalid': f[field].invalid && (f[field].touched || submitted) }"
               (keyup.enter)="onFieldBlur()">
        <input *ngIf="fieldSettings[field].type === 'date'"
               type="text"
               class="form-control datepicker"
               bsDatepicker
               #datepicker="bsDatepicker"
               [bsConfig]="{containerClass: 'theme-dark-blue'}"
               (change)="onDatePickerValueChange(field, $event); loadDictionaryOptions()"
               formControlName="{{field}}"
               (keypress)="onDateInputKeyPress($event)"
               [ngClass]="{ 'is-invalid': f[field].invalid && (f[field].touched || submitted) }"
               (keyup.enter)="onFieldBlur()">
        <div class="invalid-feedback">
          <div *ngIf="f[field].invalid && (f[field].touched || submitted)">Поле обязательно для заполнения
          </div>
        </div>
      </div>
      <div *ngIf="fieldSettings[field].isDictionaryValue" class="input-div">
        <mat-form-field class="custom-select-class">
          <mat-select class="form-control custom-select-class"
                      panelClass="custom-select-panel-class"
                      (change)="loadDictionaryOptions()"
                      formControlName="{{field}}"
                      [ngClass]="{ 'is-invalid': f[field].invalid && (f[field].touched || submitted) }"
                      (keyup.enter)="onFieldBlur()"
                      [disableOptionCentering]="true">
            <mat-option *ngFor="let option of optionsForField[field]"
                        [value]="option[dictionaryIdField[fieldSettings[field].dictionaryName]]"
                        style="color: black !important">
              {{getDictionaryDisplayString(field, option[dictionaryValueField[fieldSettings[field].dictionaryName]])}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="invalid-feedback">
          <div *ngIf="f[field].invalid && (f[field].touched || submitted)">Поле обязательно для заполнения
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button" type="reset" (click)="onCancelClick()">Отмена</button>
    <button class="mat-raised-button" type="button" (click)="onSaveClick()">Создать</button>
  </mat-dialog-actions>
</form>
