.form-control {
  width: 100%;
}

.form-group {
  margin-bottom: 5px;
}

label {
  margin-bottom: 0;
}

.invalid-feedback {
  position: absolute;
}

mat-dialog-content {
  overflow-x: hidden;
  padding: 0 10px 5px 10px;
  margin: 0 -10px 0 -10px;
}

.input-div {
  margin-bottom: 25px;
}
