@-moz-document url-prefix() {
  .table-container {
    max-height: 100%;
  }

  app-single-table-data {
    max-height: 100%;
  }

  virtual-scroller {
    max-height: calc(100% - 130px) !important;
  }
}
