mat-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.main-dialog-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
  max-height: unset;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-single-table-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table-data-div {
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding: 12px;
}

mat-spinner {
  position: absolute;
  top: calc(50% - 50px);
  z-index: 1;
}
