<div class="table-data-div">
  <mat-spinner *ngIf="loadingInProgress">
  </mat-spinner>
  <div mat-dialog-content class="main-dialog-content">
    <div class="table-container" *ngIf="settingsLoaded">
      <app-single-table-data
        *ngIf="(searchComponent !== undefined) && (selectedTableName !== undefined) && (!changeTableInProgress)"
        [ngStyle]="getTableStyle()"
        [tableData]="tableData"
        [fieldsToDisplay]="tableFieldsToDisplay"
        [fieldSettings]="tableFieldSettings[selectedTableName]"
        [fieldNamesMap]="fieldNamesMap[selectedTableName] || {}"
        [idField]="tableIdField[selectedTableName]"
        [originTableData]="originTableData"
        [dictionaryData]="dictionaryData"
        [dictionaryDataById]="dictionaryDataById"
        [dictionaryIdField]="dictionaryIdField"
        [dictionaryValueField]="dictionaryValueField"
        [dictionaryFieldSettings]="dictionaryFieldSettings"
        [selectedTableName]="selectedTableName"
        [paginator]="paginator"
        [loadingInProgress]="changeTableInProgress"
        [searchComponent]="searchComponent">
      </app-single-table-data>
    </div>
  </div>
</div>
