<div id="search-container">
  <input type="text"
         name="search-input"
         placeholder="Поиск"
         [(ngModel)]="searchInput"
         (ngModelChange)="onInputChange()">
  <div id="ic-search">
    <img src="assets/ic-search.png">
  </div>
</div>
