#search-container {
  position: absolute;
  width: 320px;
  height: 36px;
  left: 9px;
  top: calc(50% - 36px/2 - 4px);
  background: #F4F4F4;
  border-radius: 18px;
}

.no-select {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ic-search {
  @extend . no-select;
  pointer-events: none;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 288px;
  top: 6px;
}

#ic-search img {
  pointer-events: none;
}

input {
  position: absolute;
  left: 18px;
  width: 260px;
  top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  border: none;
  background: #F4F4F4;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  input {
    line-height: 18px;
    padding-top: 5px;
  }
}

input:hover,
input:active,
input:focus
{
  outline:0 !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
