.login-container {
  max-width: 440px;
  min-width: 150px;
}

.login-title {
  min-height: 40px;
  margin-bottom: 36px;
  text-align: center;
  color: #000000;
}

.login-button-border {
  position: relative;
  width: 146px;
  height: 36px;
  margin: auto;
  margin-top: 10px;
}
