<h4 class="login-title">Введите логин и пароль</h4>
<div class="login-container">
  <mat-form-field appearance="fill" hideRequiredMarker class="login-fields mat-form-field-invalid"
                  [class.mat-form-field-invalid]="loginFailed">
    <mat-label>Логин</mat-label>
    <input matInput autocomplete="off"
           id="login-input"
           [(ngModel)]="login"
           [required]="true">
  </mat-form-field>

  <mat-form-field appearance="fill" hideRequiredMarker class="login-fields mat-form-field-invalid"
                  [class.mat-form-field-invalid]="loginFailed">
    <mat-label>Пароль</mat-label>
    <input matInput autocomplete="off"
           id="password-input"
           type="password"
           [(ngModel)]="password"
           [required]="true">
    <div *ngIf="loginFailed" class="mat-error-wrapper">
      <mat-error>Имя пользователя или пароль неверны</mat-error>
      <div class="mat-error-img">
        <img src="assets/ic-warning.png">
      </div>
    </div>
  </mat-form-field>
</div>
<div class="login-button-border"
     (click)="onLoginClick()">
  <div class="blue-button">
    <div class="border-button-text">Вход</div>
  </div>
</div>
