@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .table-density-low, .table-density-middle, .table-density-high {
    mat-select {
      position: relative;
      top: -7px;
    }
  }

  .dialog-content-div {
    .table-container {
      max-height: 100% !important;
    }
  }
}
