<div class="dialog-content-div">
  <div class="table-container {{'table-density-' + currentDensity}}">
    <table matSort class="table table-bordered table-responsive-md text-center resizable-data-table" mat-table
           [dataSource]="[]" [ngStyle]="getTableWidth()">
      <ng-container *ngFor="let field of fieldsToDisplay" matColumnDef="{{field}}">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header-border-div top"></div>
          <div class="header-border-div bottom"></div>
          <span class="column-resizer" (mousedown)="onColumnResizeMouseDown($event, field)"></span>
          <div class="th-div" mat-sort-header>
            <span style="font-size: 14px; color: #2e2e2e"><b>{{fieldNamesMap[field] || field}}</b></span>
          </div>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="fieldsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: fieldsToDisplay">
      </tr>
    </table>

    <virtual-scroller [ngStyle]="getTableWidth()" #scroll [items]="tableDataToDisplay"
                      [executeRefreshOutsideAngularZone]="true"
                      (vsUpdate)="changeDetectorRef.detectChanges();"
                      onscroll="onTableScroll()">
      <div *ngFor="let row of scroll.viewPortItems"
           class="table-row-div"
           [class.background-gray]="checkActiveRow(row)"
           (mouseenter)="mouseEnterRow(row)"
           (mouseleave)="mouseLeaveRow(row)">
        <div *ngFor="let field of fieldsToDisplay" class="table-cell-div table-cell-div-{{field}}"
             [ngStyle]="getCellStyle(row, field)">
          <div *ngIf="!fieldSettings[field].isDictionaryValue">
            <input *ngIf="checkActiveRow(row) && getInputType(field) !== 'date'"
                   type="{{getInputType(field) !== 'number' ? getInputType(field) : 'text'}}"
                   class="form-control"
                   [class.align-num]="getInputType(field) === 'number'"
                   [(ngModel)]="row[field]"
                   [ngStyle]="getCellStyle(row, field)"
                   [readonly]="!fieldSettings[field].isEditable"
                   (focus)="onRowFocus(row)"
                   (blur)="onRowBlur(row)"
                   (keyup.enter)="onRowBlur(row)"
                   (change)="rowWithLoadedOptions = undefined; loadDictionaryOptions(row)">
            <input *ngIf="checkActiveRow(row) && getInputType(field) === 'date'"
                   type="text"
                   class="form-control datepicker"
                   bsDatepicker
                   #datepicker="bsDatepicker"
                   [bsConfig]="{containerClass: 'theme-dark-blue'}"
                   [(ngModel)]="datePickerModel[field]"
                   [ngStyle]="getCellStyle(row, field)"
                   [isDisabled]="!fieldSettings[field].isEditable"
                   (focus)="onRowFocus(row)"
                   (select)="onDatePickerSelect(datepicker)"
                   (onHidden)="onDatePickerHidden(row, datepicker);"
                   (blur)="onDatePickerBlur(row, datepicker)"
                   (keyup.enter)="onRowBlur(row)"
                   (input)="onDateFieldInput(row, field, $event)"
                   (keypress)="onDateInputKeyPress($event)"
                   (change)="rowWithLoadedOptions = undefined; loadDictionaryOptions(row)">
            <div *ngIf="!checkActiveRow(row)" [ngClass]="{'data-div-number': getInputType(field) === 'number',
                 'data-div-other': getInputType(field) !== 'number'}"
                 [ngStyle]="getCellStyle(row, field)">
              {{getDisplayString(row, field)}}
            </div>
          </div>
          <div *ngIf="fieldSettings[field].isDictionaryValue" [ngStyle]="getCellStyle(row, field)">
            <div *ngIf="!checkActiveRow(row)" [ngClass]="{'data-div-number': getDictFieldType(field) === 'number',
                 'data-div-other': getDictFieldType(field) !== 'number'}"
                 [ngStyle]="getCellStyle(row, field)">
              {{dictionaryDataById[fieldSettings[field].dictionaryName][row[field]] === undefined ? ''
              : getDictionaryDisplayString(field, dictionaryDataById[fieldSettings[field].dictionaryName][row[field]]
              [dictionaryValueField[fieldSettings[field].dictionaryName]])}}
            </div>
            <div [ngStyle]="getCellStyle(row, field)" *ngIf="checkActiveRow(row)">
              <mat-form-field class="custom-select-class"
                              [class.blue-text]="cellValueChanged(row, field)">
                <mat-select class="form-control dictionary-option-select"
                            [class.select-readonly]="!fieldSettings[field].isEditable"
                            [class.align-num]="getDictFieldType(field) === 'number'"
                            panelClass="custom-select-panel-class"
                            #select
                            [(ngModel)]="row[field]"
                            [disabled]="!fieldSettings[field].isEditable"
                            (focus)="onRowFocus(row)"
                            (blur)="onSelectRowBlur(row, field, select)"
                            (openedChange)="onDropDownOpenedChanged($event, row, field, select)"
                            (selectionChange)="onSelectValueChange(row, select)"
                            [disableOptionCentering]="true"
                            [disableRipple]="true">
                  <mat-option *ngFor="let option of optionsForField[field]"
                              [class.align-num]="getDictFieldType(field) === 'number'"
                              [value]="option[dictionaryIdField[fieldSettings[field].dictionaryName]]"
                              style="color: black"
                              (mousedown)="onSelectOptionMouseDown(row, field, option[dictionaryIdField[fieldSettings[field].dictionaryName]])">
                    {{getDictionaryDisplayString(field,
                    option[dictionaryValueField[fieldSettings[field].dictionaryName]])}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </virtual-scroller>
  </div>
</div>
